@font-face {
	font-family: "Tangerine";
	src: url("../type/Tangerine_Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


h1 {
	font-family: "Tangerine", cursive;
	font-size: 6em;
	font-weight: normal;
	color: #b86f82;
	margin-top: 1em;
}
body {
	margin: 0;
	min-height: 100dvh;

	background-image: url("../lente.png");
	background-size: cover;
	background-position: center;
	padding: 3em;
}

/* bron: Sanne */
body:has([value="zomer"]:checked) {
	background-image: url("../zomer.png");
}

body:has([value="herfst"]:checked) {
	background-image: url("../herfst.png");
}

body:has([value="winter"]:checked) {
	background-image: url("../winter.png");
}

main {
	padding: 1em;
	text-align: center;
}



body:has([value="zomer"]:checked) h1 {
	color: #2f6b46;
}

body:has([value="herfst"]:checked) h1 {
	color: #9a4f2d;
}

body:has([value="winter"]:checked) h1 {
	color: #405f73;
}